<!-- Intro Campanha -->
<div class="block-campaign-detail block">
    <div class="block-campaign-detail-intro pode-ser-toda-sua">

    </div>
</div>

<!-- Main -->
<div class="block-campaign-detail-main">
    <div class="container">
        <h1 class="block-campaign-title">Escolheu Bem, Aqui tem Starrett</h1>
        <br> <br>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Collapse1 -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title heading">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <i class="icon"></i><b>Mecânica Campanha</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body content">
                        <p>A cada R$ 50,00 em compras de produtos Starrett, o cliente recebe um cupom, que deve ser
                            preenchido e depositado em uma urna no estabelecimento para concorrer a uma bolsa de
                            ferramentas com produtos Starrett.</p>
                    </div>
                </div>
            </div>

            <!-- Collapse2 -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title heading">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <i class="icon"></i><b>Download Material</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body content">
                        <p>Clique abaixo e faça o download: </p>
                        <a href="assets/img/cartaz-pode-ser-toda-sua-mochila.pdf" target="_blank"><img src="assets/img/icon-pdf-cartaz.png"
                                alt="icone-pdf-cartaz"></a>
                        <a href="assets/img/manual-pode-ser-toda-sua-mochila.pdf" target="_blank"><img src="assets/img/icon-pdf-manual.png"
                                alt="icone-pdf-manual"></a>
                        <a href="assets/img/folheto-pode-ser-toda-sua-mochila.pdf" target="_blank"><img src="assets/img/icon-pdf-folheto.png"
                                alt="icone-pdf-folheto"></a>
                    </div>
                </div>
            </div>

            <!-- Collapse3 -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title heading">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <i class="icon"></i><b>Prêmio da Campanha</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body content">
                        <p>O ganhador do sorteio da campanha “PODE SER TODA SUA”, receberá uma mochila de ferramentas –
                            Série Starrett BPs, com os seguintes produtos: Estilete, Trena, Serras Manuais, Arco de
                            Serra, Mini Arco de Serra, Nível Torpedo e Disco de Corte.</p>
                    </div>
                </div>
            </div>

            <!-- Collapse4 -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title heading">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFive">
                            <i class="icon"></i><b>Quantidade de Kits</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body content">
                        <p>600 kits.</p>
                    </div>
                </div>
            </div>


            <!-- Collapse5 -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title heading">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            <i class="icon"></i><b>Ative Sua Campanha</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body content">
                        <video width="300" controls>
                            <source src="assets/video/ative_a_campanha.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <br> <br>
        <h1 class="block-campaign-title">OUTRAS CAMPANHAS</h1>

        <div class="owl-carousel owl-theme block-campaign-carousel">
            <div class="item"><a value="Reload Page" onClick="document.location.reload(true)" href="#campanha-pode-ser-toda-sua"><img
                        class="img-responsive" src="assets/img/pode-ser-toda-sua-3.png" alt="starrett-campanha"></a></div>
            <div class="item"><a value="Reload Page" onClick="document.location.reload(true)" href="#campanha-raspe-e-ganhe"><img
                        class="img-responsive" src="assets/img/raspe-e-ganhe-3.png" alt="starrett-campanha"></a></div>
            <div class="item"><a value="Reload Page" onClick="document.location.reload(true)" href="#venda-mais-para-ganhar"><img
                        class="img-responsive" src="assets/img/venda-mais-pra-ganhar-3.png" alt="starrett-campanha"></a></div>
        </div>

    </div>
</div>

<script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        margin: 20,
        autoplay: true,
        autoplayTimeout: 3000,
        nav: true,
        navText: ["<img src='assets/img/sign-1.png'>", "<img src='assets/img/sign-2.png'>"],
        autoplayHoverPause: true,
        loop: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },

            1000: {
                items: 3
            }
        }
    })
</script>