<!-- Intro Campanha -->
<div class="block-campaign-detail block">
    <div class="block-campaign-detail-intro raspe-e-ganhe">

    </div>
</div>

<!-- Main -->
<div class="block-campaign-detail-main">
    <div class="container">
        <h1 class="block-campaign-title">Use as campanhas Starrett para alavancar suas vendas.</h1>
        <br> <br>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Collapse1 -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title heading">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <i class="icon"></i><b>Mecânica Campanha</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body content">
                        <p>Cada loja deve estipular uma meta individual a ser vendida por semana na equipe de vendas da
                            loja, sendo o valor mínimo de R$ 500,00. Ao alcançar a meta, o vendedor ou balconista, deve
                            retirar uma raspadinha. Cada raspadinha terá um número de 1 a 5 (para
                            lojas pequenas) e 1 a 10 (para lojas grandes), que correspondem ao prêmio estipulado de
                            acordo com o cartaz de prêmios. </p>
                    </div>
                </div>
            </div>

            <!-- Collapse2 -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title heading">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <i class="icon"></i><b>Download Material</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body content">
                        <p>Clique abaixo e faça o download: </p>
                        <a href="assets/img/raspe-e-ganhe-cartaz-divulgacao.pdf" target="_blank"><img src="assets/img/icon-pdf-cartaz.png"
                                alt="icone-pdf-cartaz"></a>
                        <a href="assets/img/raspe-e-ganhe-manual.pdf" target="_blank"><img src="assets/img/icon-pdf-manual.png"
                                alt="icone-pdf-manual"></a>
                        <a href="assets/img/raspe-e-ganhe-folheto.pdf" target="_blank"><img src="assets/img/icon-pdf-folheto.png"
                                alt="icone-pdf-folheto"></a>
                        <a href="assets/img/raspe-e-ganhe-cartaz-lojista.pdf" target="_blank"><img src="assets/img/raspe-e-ganhe-cartaz-lojista.png"
                                alt="icone-pdf-lojista"></a>
                    </div>
                </div>
            </div>

            <!-- Collapse3 -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title heading">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <i class="icon"></i><b>Prêmio da Campanha</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body content">
                        <p>Os prêmios estão espalhados no Cartaz de Prêmio em linhas numeradas, que serão utilizadas
                            como referências para a escolha do prêmio conforme o número sorteado na raspadinha.</p>
                        <p><b>Para lojistas pequenos, os prêmios serão:</b></p>
                        <p>2 Arcos de Serra Exact 147, 2 Mini Arcos de Serra 146, 2 Jogos de Brocas 1 Chaira Com Haste
                            Lisa, 1 Cutelo com Lâmina Especial, 1 Estilete Starrett®, 1 Estilete Retráteis Exact Plus,
                            1 Estilete Trava Rosca Exact, 1 Faca de Carne Refile de Mesa Lâmina Reta Larga, 1 Faca de
                            Carne Refile de Mesa Lâmina Triangular Estreita, 1 Faca de Desossa Lâmina Reta Estreita, 2
                            Lâminas de Serra Manual Safe-Flex Bi-Metal Unique, 2 Trenas de Bolso Starrett® 5m, 4
                            Convites para o Clube do Profissional, 2 Bonés Starrett® e 1 Baralho Starrett®.</p>

                        <p><b>Já para os lojistas grandes, os prêmios serão:</b></p>
                        <p>2 Arcos de Serra Exact 147, 2 Mini Arcos de Serra 146, 4 Jogos de Brocas, 4 Chairas com
                            Haste Lisa, 2 Cutelos com Lâmina Especial, 2 Estiletes Starrett®, 2 Estiletes Retráteis
                            Exact Plus, 2 Estiletes Trava Rosca Exact, 2 Facas de Carne Refile de Mesa Lâmina Reta
                            Larga, 2 Facas de Carne Refile de Mesa Lâmina Triangular Estreita, 2 Facas de Desossa
                            Lâmina Reta Estreita, 4 Lâminas de Serra Manual Safe-Flex Bi-Metal Unique, 4 Trenas de
                            Bolso Starrett® 5m, 10 Convites para o Clube do Profissional, 3 Bonés Starrett® e 3
                            Baralhos Starrett®.</p>
                    </div>
                </div>
            </div>

            <!-- Collapse4 -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title heading">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFive">
                            <i class="icon"></i><b>Quantidade de Kits</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body content">
                        <p>100 kits – lojistas pequenos; <br>
                            100 kits – lojistas grandes.</p>
                    </div>
                </div>
            </div>


            <!-- Collapse5 -->
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title heading">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            <i class="icon"></i><b>Ative Sua Campanha</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body content">
                        <video width="300" controls>
                            <source src="assets/video/ative_a_campanha.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <br> <br>
        <h1 class="block-campaign-title">OUTRAS CAMPANHAS</h1>

        <div class="owl-carousel owl-theme block-campaign-carousel">
            <div class="item"><a value="Reload Page" onClick="document.location.reload(true)" href="#campanha-pode-ser-toda-sua"><img
                        class="img-responsive" src="assets/img/pode-ser-toda-sua-3.png" alt="starrett-campanha"></a></div>
            <div class="item"><a value="Reload Page" onClick="document.location.reload(true)" href="#campanha-raspe-e-ganhe"><img
                        class="img-responsive" src="assets/img/raspe-e-ganhe-3.png" alt="starrett-campanha"></a></div>
            <div class="item"><a value="Reload Page" onClick="document.location.reload(true)" href="#venda-mais-para-ganhar"><img
                        class="img-responsive" src="assets/img/venda-mais-pra-ganhar-3.png" alt="starrett-campanha"></a></div>
        </div>

    </div>
</div>

<script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        margin: 20,
        autoplay: true,
        autoplayTimeout: 3000,
        nav: true,
        navText: ["<img src='assets/img/sign-1.png'>", "<img src='assets/img/sign-2.png'>"],
        autoplayHoverPause: true,
        loop: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },

            1000: {
                items: 3
            }
        }
    })
</script>