<div class="block-home block">
    <div class="container">
        <h1 class="block-home-heading heading">Melhore suas vendas com as campanhas Starrett.</h1>
        <p class="block-mobile-title visible-xs visible-sm">Deslize ao Lado para Visualizar as Campanhas.</p>
    </div>
    <br>
    
    <div class="owl-carousel owl-theme">
        <div class="item"><a href="#campanha-pode-ser-toda-sua"><img class="img-responsive" src="assets/img/pode-ser-toda-sua.png" alt="starrett-campanha"></a></div>
        <div class="item"><a href="#campanha-raspe-e-ganhe"><img class="img-responsive" src="assets/img/raspe-e-ganhe.png" alt="starrett-campanha"></a></div>
        <div class="item"><a href="#venda-mais-para-ganhar"><img class="img-responsive" src="assets/img/venda-mais-pra-ganhar.png" alt="starrett-campanha"></a></div>
    </div>
</div>

<script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        loop:false,
        margin:10,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },

            1000: {
                items: 4
            }
        }
    })
</script>