.heading {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    text-transform: uppercase;
    color: $headings-color;
}

.content {
    margin-top: 0;
    margin-bottom: 0;
    @include clearfix;

    > *:first-child { margin-top: 0; }
    > *:last-child { margin-bottom: 0; }
}

.block {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.owl-carousel{
    justify-content: center;
    align-items: center;
    display: flex!important;
    margin-top: 20px;
}


.owl-theme .owl-nav.disabled + .owl-dots{
    display: none;
}

