.block-campaign-detail {
    padding-bottom: 0;

    &-intro {
        text-align: center;

        &-video { margin-top: 40px; }

        &-image {
            display: block;
            max-width: 100%;
            height: auto;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-main {
        padding-top: 60px;
        padding-bottom: 60px;

        &-intro {
            position: relative;
            margin-top: -180px;
            margin-bottom: 20px;

            &-image {
                display: block;
                max-width: 300px;
                height: auto;
            }

            &-info {
                margin-top: 20px;
                margin-bottom: 20px;
                font-weight: bold;
                text-transform: uppercase;

                .icon {
                    vertical-align: middle;
                    margin-right: .2em;
                    margin-top: -.1em;
                    font-size: 1.8em;
                    color: $brand-primary;
                }
            }
        }

        .panel {
            &-heading { padding-left: 40px; }

            &-title { font-size: 24px; }

            &-title > a .icon {
                width: 40px;
                margin-left: -40px;
                font-weight: bold;
                text-align: center;
            }

            &-title > a .icon:before { content: "\f107"; }
            &-title > a.collapsed .icon:before { content: "\f105"; }

            &-body { padding: 23px 23px; }
        }

        .panel + .panel {
            margin-top: -1px;
            border-top-color: $panel-inner-border;
            border-bottom-color: $panel-inner-border;
        }
    }

    @media(min-width: $screen-sm-min) {
        &-main-intro-info {
            position: absolute;
            top: 60%;
            right: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }


}
