.block-campaign-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

.block-campaign-detail-intro.pode-ser-toda-sua{
    background: url(../../assets/img/pode-ser-toda-sua-2.png);
    background-size: cover;
    height: 151px;
    background-position: center;
    margin-top: -64px;
}

.block-campaign-detail-intro.raspe-e-ganhe{
    background: url(../../assets/img/raspe-e-ganhe-2.png);
    background-size: cover;
    background-position: center;
    margin-top: -64px;
    height: 172px;
}

.block-campaign-detail-intro.venda-mais-para-ganhar{
    background: url(../../assets/img/venda-mais-pra-ganhar-2.png);
    background-size: cover;
    background-position: center;
    margin-top: -64px;
    height: 154px;
}

@media(min-width: $screen-md-min) {
    .block-campaign-detail-intro.venda-mais-para-ganhar{
        height: 276px;
    }

    .block-campaign-detail-intro.pode-ser-toda-sua{
        height: 276px;
    }

    .block-campaign-detail-intro.raspe-e-ganhe{
        height: 276px;
    }

    video{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}