.block-home{
    overflow: hidden;
    text-align: center;

    .container {
        width: auto;
        max-width: 1260px;
    }

    &-heading {
        margin-bottom: 40px;
        font-weight: bold;
    }

    &-campaign {
        @include clearfix;
        display: block;
        position: relative;
        color: inherit;

        &:hover,
        &:focus {
            color: inherit;
            text-decoration: none;
        }

        &-inner {
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            bottom: 0;
        }

    }
    
    &-campaign + &-campaign { margin-top: 30px; }

    @media(min-width: $screen-sm-min) {
        &-heading { margin-bottom: 0; }

        &-campaign {
            float: left;
            width: 50%;
            margin-top: 0;

            &-inner { top: 20%; }
        }

        &-campaign + &-campaign { margin-top: 0; }
    }
}