.page-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

    &-brand {
        display: inline-block;
        max-width: 140px;
        margin-bottom: 20px;

        > img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-copyright {
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
    }
}
