@import "bootstrap/forms";

.form-control,
.form-control:focus {
    box-shadow: none;
}

.form-row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.form-col {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
