.page-header{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e2e2e2;
    border-bottom: 0;

    .container {
        width: auto;
        max-width: 1600px;
    }

    &-brand {
        display: block;

        > img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-social {
        margin-top: 10px;
        font-size: 0;
        text-align: center;
        padding-top: 15px;

        &:hover &-icon,
        &:focus &-icon { opacity: .5; }

        &-icon {
            display: inline-block;
            width: 1.7em;
            height: 1.7em;
            font-size: 24px;
            line-height: 1.7em;
            text-align: center;
            color: inherit;
            border: 1px solid rgba($text-color, .3);
            border-radius: .2em;
            opacity: .8;
            transition: opacity .3s;

            &:hover,
            &:focus {
                opacity: 1 !important;
                text-decoration: none;
                color: inherit;
            }
        }

        &-icon + &-icon { margin-left: .3em; }
    }

    @media(min-width: $screen-sm-min) {
        &-brand { float: left; }

        &-social {
            float: right;
            margin-top: -15px;
            text-align: left;
        }
    }
}