.block-campaign-carousel{
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%!important;
    }

    .owl-dots{
        display: none!important;
    }

    .owl-nav{
        width: 100%;
        max-width: 100%;
    }


    .owl-prev, .owl-next {
        position: absolute;
        color: inherit;
        background: none;
        border: none;
        z-index: 100;
        
    }

    .owl-prev {
        left: -5px;
    }

    .owl-next {
        right: -5px;
    }

    
}


