//
// # Base
// -------------------------------------------------

// ...

//
// # Bootstrap
// -------------------------------------------------

// Color

$brand-primary: #cb0000;

// Scaffolding

$body-bg: #C7C7C7;
$text-color: #3c3c3c;

// Typography

$font-family-sans-serif: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 18px;
$line-height-base: 1.5;

// Iconography

$icon-font-path: '../fonts/';

// Components

// $border-radius-base: 2px;
// $border-radius-large: 2px;
// $border-radius-small: 2px;

// Buttons

$btn-default-color: $text-color;
$btn-default-bg: transparent;
$btn-default-border: rgba($text-color, .3);

// Forms

// $input-bg: rgba(255, 255, 255, 0.75);
// $input-color: inherit;
// $input-border: rgba(0, 0, 0, 0.1);
// $input-border-focus: $brand-primary;
// $input-color-placeholder: rgba(0, 0, 0, 0.3);

// Panels

$panel-bg: transparent;
$panel-inner-border: #999;

// Container sizes

$container-large-desktop: 940px;

//
// # Font Awesome
// -------------------------------------------------

$fa-css-prefix: icon;
